*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-size: clamp(0.6rem, 2.5vw, 1.2rem);
}

body{
    background-color: #F6F7FF;
    font-family: 'Akshar', sans-serif;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.top-panel{
    display: none;
}

.main-container{
    display: flex;
}



.side-panel{
    margin-left: 30px;
    padding-left: 10px;
    margin-top:30px;
    width: 20%;
    color: #ffffff;
    text-align: center;
    position: fixed;
    box-shadow: 20px;
}

.sidepanelbody .close{
    margin-left:140px;
    margin-top: 20px;
    font-size: 20px;
    display: none;
}

.sidepanelbody .close:hover{
    color: #28387a;
}

.sidepanelbody{
    background-color: #54b689;
    border-radius: 4%;
    height: 92vh;
}

.name{
    padding-top: 20%;
}



.side-panel li{
    list-style: none;
}

.side-panel ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profileimage{
    width:100%;
    height: 20vh;
    align-items:center;
    background-color:252d5d;

}
.profileimage img{
    height: 90px;
    width:90px;
    border-radius:50%;
    margin-top: 20%;
    border: solid 2px;
    color:#ffffff;
 }
.profileimage li{
    height:0px
    
}

#socialmedialinks{
    display: flex;
    justify-content: space-around;
}

#socialmedialinks li{
 flex-basis: 27%;
 padding-top: 20px;
 margin:20px
}

right-side-panel{
    flex: 3;
}
.hero-container{
    background-color: #fafafa;
    min-height: 15rem;
    margin-top: 5%;
    margin-left:35%;
    width: 70vw;
    border-radius: 5%;
}

.hero-container p{
    padding-top: 10%;
    text-align: center;
    padding-bottom: clamp(1.0rem, 2.0vw, 1.2rem);
    color: #28387a
}

.hero-container a{
    color: #ffffff;
    background-color: #54b689;
    margin-left: clamp(40%, 30%, 40%);;
    font-size: clamp(1.2rem, 2.5vw, 1.2rem);
    padding: clamp(0.2rem, 1.2rem, 0.6rem);
    text-decoration: none;
    
}

.skills-container{

    min-height: 60vh;
    width:70vw;
    background-color: #fafafa;
    border-radius: 5%;
    margin-top: 3%;
    margin-left: 35%;
    color:#28387a;
}

.skills-container h1{
    text-align: center;
    margin-bottom: 2%;
    padding-top: 2%;
    font-size: 2rem;

}
.card{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    padding-bottom: 5%;
    font-size: 1rem;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover{
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card{
    padding: 0.2rem 1rem;
  }

  .skills{
      display: flex;
      justify-content: space-around;
      margin-bottom: 5%;
  }

  
  .project-container{
    min-height: 60vh;
    width:70vw;
    background-color: #fafafa;
    border-radius: 5%;
    margin-top: 2%;
    margin-left: 35%;
    color:#28387a;   
  }

  .project-container h1{
    text-align: center;
    margin-bottom: 2%;
    padding-top: 2%;
}

.phone{
    display: flex;
}

.phone i {
    margin-left: 25px;
    margin-top: 45px;
    color: #ffffff;
}

.phone p{
    margin-top: 40px;
    margin-left: 10px;
}



@media(max-width: 912px){
    
    .top-panel{
        height: 10vh;
        margin-left: 5%;
        width: clamp(80vw, 85vw, 85vw);
        display: block;
        margin-top: 5%;
            
    }

    .main-container{
        flex-direction: column;
    }
    
    .top-panel-body{
        background-color:#54b689;
        padding-top: 10px;
        padding-bottom:50px;
        border-radius: 20px;
        height: 10vh;  
        overflow: hidden;
    }
    
    .top-panel-body ul{
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
    }
    
    .top-panel-body li{
        list-style:none
    }
    
    .top-panel-body .hamburger{
        cursor: pointer;
        background: transparent;
        border: 0;
        outline: none;
        padding: 0;
        font-size: 25px;
        margin-left: 15px;
        display: inline;
        color: #ffffff;
        margin-right: 10px;
    }

    .top-panel-body .hamburger li{
        }

    .top-panel-body .hamburger:hover{
        color: #28387a;
    }
    
    .top-panel-body .mobileprofileimage img{
        margin-top: 0px;
        height: 40px;
        width:40px;
        overflow: hidden;
        border-radius:50%;
        display: inline;
        margin-right: 10px;
        border: solid 2px #ffffff;
    }
    .top-panel-body .mobile-name{
        margin: 4px;

    }

    .top-panel-body .mobile-name ol{

        width: 110%;
    }
    
    .top-panel-body .mobile-name li{
        display: inline;

        
    }
    
    .top-panel-body .mobile-name li h3{
        width: clamp(90%, 90%, 90%);
        display: inline;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
    }
    
    
    .side-panel {
    margin-left: -300px;

    }

    .profileimage img{
        margin-top: 0;

    }

    .hero-container {
        width: 85vw;
        margin-left: 5%;
    }

    .skills{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 80%;
        padding: 1.2rem 1rem;
        margin-bottom: 30px;
      }

    .skills-container{
        max-height:250vh;
        width: 85vw;
        margin-left: 5%;
    }

    .project-container{
        max-height:250vh;
        width: 85vw;
        margin-left: 5%;
    }

    .hero-container p{
        padding-top:  clamp(1.0rem, 2.0vw, 1.2rem);
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        text-align: center;
        padding-bottom: clamp(1.0rem, 2.0vw, 1.2rem);
        color: #28387a
    }

    .skills-container h1{
        text-align: center;
        margin-bottom: 5%;
        padding-top: 5%;
    
    }

    .project-container h1{
        text-align: center;
        margin-bottom: 5%;
        padding-top: 5%;
    
    }    
    
    .side-panel{
        margin-left: 30px;
        padding-left: 10px;
        margin-top:30px;
        width: 20%;
        color: #ffffff;
        text-align: center;
        position: fixed;
        border: solid 1px #ffffff;
    }
    
        
    .sidepanelbody{
        background-color: #54b689;
        border-radius: 4%;
        max-height: 45rem;
    }
    
    .name{
        padding-top: 8%;
    }
    
    
    
    .side-panel li{
        list-style: none;
    }
    
    .side-panel ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .profileimage{
        width:100%;
        height: 20vh;
        align-items:center;
        background-color:252d5d;
    
    }
    .profileimage img{
        height: 90px;
        width:90px;
        border-radius:50%;
        margin-top: 8%;
        border: solid 2px;
        color:#ffffff;
     }
    .profileimage li{
        height:0px
        
    }
    
    #socialmedialinks{
        display: flex;
        justify-content: space-around;
    }
    
    #socialmedialinks li{
     flex-basis: 27%;
     padding-top: 20px;
     margin:20px
    }
    
    right-side-panel{
        flex: 3;
    }
    
}
